.about-box{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.about-text{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
}

.about-text p{
    width: 50vw;
    border: 1px solid black;
    padding: 20px;
    background-color: #88807b;
    color: white;
}